@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenericError</title>
</head>
<body>
    <div>
        <h3>  Unknow Error. We are working on it please try after some time.</h3>
    </div>
</body>
</html>
