@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InternalServerError</title>
</head>
<body>
    <div>
        <h3>  Some internal server error occured while processing your request.</h3>
    </div>
</body>
</html>
