
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenericError</title>
</head>
<body>
    <div>
        <h2>PageNotFoundError</h2>
        <h3> The page you are trying to access is not available.</h3>

    </div>
</body>
</html>