@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UnauthorizedError</title>
</head>
<body>
    <div>
        <h3> you do not have  the permission to access the requested page.</h3>
    </div>
</body>
</html>
